<%- include('partials/header') %>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h2 class="h1 display-4">O'Quiz</h2>
  <p class="lead">Voici une liste des différents sujets présent sur O'quiz</p>
</div>

<div class="row">

  <% for (let tag of tags) { %>
    <div class="col-3 p-4 text-center">
      <a class="btn btn-block btn-lg tag tag--<%= tag.name.toLowerCase() %>" href="/quizzes/tag/<%= tag.id %>">
          <%= tag.name %>
      </a>
    </div>
  <% } %>

</div>

<form action="/deletetag" method="POST" class="form-signin">

  <div class="form-label-group">
    <input type="text" class="form-control" id="tagtodelete" name="name" aria-describedby="newtagHelp"
      placeholder="Son nom">
    <label for="tagtodelete">Catégorie à supprimer</label>
  </div>
  <div class="form-group text-center">
    <button type="submit" class="btn btn-danger">Supprimer cette catégorie</button>
  </div>
</form>

<%- include('partials/footer') %>
