<%- include('partials/header') %>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h2 class="h1 display-4"><%= quiz.title %></h2>
    <p class="lead"><%= quiz.description %></p>
    <p class="font-weight-bold">par <%= quiz.author.fullname %></p>
    <p class="lead"><%= quiz.questions.length %> questions</p>
</div>

<div class="row">

    <% for (let tag of quiz.tags) { %>
    <div class="col-3 p-4 text-center">
        <a class="btn btn-block btn-lg tag tag--<%= tag.name.toLowerCase() %>" href="/quizzes/tag/<%= tag.id %>">
            <%= tag.name %>
        </a>
    </div>
    <% } %>

</div>

<div class="row">

    <div class="col-12">
        <form action="" method="POST" class="">
    <% for(let question of quiz.questions) { %>
        <label class="badge level level--<%= question.level.name.toLowerCase() %>"><%= question.level.name %></label>
        <h4>
            <%= question.question %>
        </h4>
                <% for(let index in question.answers){ %>
                <input value="<%= question.answers[index].id %>" id="<%= question.answers[index].description %>" type="radio" name="<%= question.id %>"/>
                <label for="<%= question.answers[index].id %>" name="<%= question.id %>"><%= parseInt(index) + 1 %>. <%= question.answers[index].description %></label>
                <br>
                <% } %>
    <% } %>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Valider le quizz</button>                
        </form>

    </div>

</div>

<%- include('partials/footer') %>